provider "aws" {
  region = "us-east-1"
  default_tags {
    tags = {
      Business-Unit     = "IT"
      Automation        = "Terraform"
      Function          = "Unknown"
      NotificationEmail = "${email}"
      Repository        = "${repo_uri}"
      TechnicalContact  = "${email}"
      Environment       = "\${var.environment}"
      Application       = "Unknown"
      Owner             = "Unknown"
      Project           = "\${var.project_id}"
    }
  }
}
