name: "Deployment"

env:
  TERRAFORM_VERSION: 1.14.3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml@main
    with:
      TERRAFORM_VERSION: ${{ env.TERRAFORM_VERSION }}
      ENVIRONMENT: "Dev"
