name: "Deployment"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      TERRAFORM_VERSION: 1.14.3
      ENVIRONMENT: "Dev"
    secrets: inherit
